.CartItem {
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
}

.CartItem div {
  width: 25%;
}

.CartItem button {
  width: 30px;
  height: 30px;
  background-color: #b8b8b8;
  border-radius: 6px;
  margin: 0 3px;
  border: none;
}
